@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes fade-in {
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-in {
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.fade-in {
    -webkit-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    opacity: 0;
    -webkit-animation: fade-in linear both;
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: 50px 300px;
}

.slideDown {
    -webkit-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    -webkit-animation: slideDown 1.5s ease-in forwards;
    animation: slideDown 1.5s ease-in forwards;
}

.slideLeft {
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    -webkit-animation: slideLeft 0.5s linear both;
    animation: slideLeft 0.5s linear both;
    animation-range: entry 5%;
}

.slideRight {
    -webkit-transition: right 1s ease-in-out;
    transition: right 1s ease-in-out;
    -webkit-animation: slideRight 0.5s linear both;
    animation: slideRight 0.5s linear both;
    animation-range: entry 5%;
}

.slideUp {
    -webkit-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    -webkit-animation: slideUp 1.5s ease-in forwards;
    animation: slideUp 1.5s ease-in forwards;
}

.inView {
    animation-timeline: view();
}

.inScroll {
    animation-timeline: scroll();
}
