*::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding-top: 85px;
    padding-right: 0;
    height: 1000px;
    background-color: #fff;
}

h2 {
    font-size: 26px;
}


nav {
    display: flex;
    box-shadow: 3px 3px 5px rgb(36, 3, 3);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
}

h1 {
    font-size: 42px;
}

h2, h3, h4, h5 {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #333;
    margin: 0;
    padding-bottom: 10px;
}





/**************************************** CLASSES **************************************/
.carousel{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item[data-active] {
    display: block;
    opacity: 1;
    z-index: 1; /* Ensure active slide is on top */
}

.carousel-item > img{
    height: auto;
    width: 100%;
    display: block;
    object-fit:cover;
    /* object-position:center; */
    flex: 0 0 100%; /* Ensure each slide takes full width */
    transition: transform 0.5s ease-in-out; /* Additional transition effect if needed */
}


.carousel[data-slides]  {
    margin: 0;
    padding: 0;
    display: flex;
    transition: left 0.5s ease-in-out; /* Smooth slide transition */
}


.carousel-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem; 
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 0;
    
}

.carousel-button.next{
    right: 0;
} 



.carousel-item.active {
    opacity: 1;
    z-index: 1; /* Ensure active slide is on top */
}


.branch {
    font-size: 0.8rem;
}

.welcome-section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    
}

.church-name h1{
    color: #F5BE55;
    font-size: 1.4rem;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.church-logo-name-container{
    position: relative;
    background-color: none;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 15px;
}

.church-logo-name-container img {
    margin-bottom: 10px;
}

.church-name-container {
    position: absolute;
    left: 100px;
    font-family: "Montserrat";
    background-color: none;
    color: white;
    padding: 10px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
   
}

.church-name-container .church-name{
    font-size: 20px;
}

.logo{
    width: 80px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    display: block;
    z-index: 1; /* Ensure active slide is on top */
}

/* .logo.active{
    transform: translateY(-50%);
} */

.sidebar-container input{
    display: flex;
    visibility: hidden;
    -webkit-appearance: none;    
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 10;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #F5BE55;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(-100%);
}

input:checked ~ .slide{
    transform: translateX(-100%);
}


.slide {
    position: absolute;
    left: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: black;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    box-shadow: -10px 10px 10px rgba(255, 255, 255, 0.1);
    transition: 0.5s ease-in-out;
}


.sidebar h1{
    color: #F5BE55;
    font-weight: 800;
    padding: 10px 0;
    text-align: left;
    pointer-events: none;
}

.sidebar a{
    height: 100%;
    width: 100%;
    font-family: "Montserrat";
    font-size: 20px;
    text-decoration: none;
    color: white;
    
}

.sidebar ul{
    list-style: none;
}

.sidebar li{
    width: 100%;
}


.nav{
    background-color: #000000;
    padding: 0 10px;
    height: 75px;
}


.nav-link-container {
    display: flex;
    background-color: none;
    flex: 1;
    align-items: center;
    
}

.nav-link-container ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
   
}

.nav-link-container li {
    height: 50px;
}

.nav-link-container a {
    height: 100%;
    font-family: "Montserrat";
    font-size: 20px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.nav a:hover{
    color: #F5BE55;
}




.background {
    background-color: white;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/fams.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    z-index: -1;
    filter: blur(5px);
}


.welcome_section{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    position: absolute;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    
}

.welcome-message-sec {
    display: flex;
    background-color: #EFEFF0;
    padding: 30px 100px 30px 30px;
    

}


.pastor-div{
    width: 200px;
    /* background-color: rgb(199, 199, 199); */
    background-color: #EFEFF0;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    
}

.pastor-div img {
    width: 100%;
    box-shadow: initial;
    box-shadow: 3px 3px 5px rgb(36, 3, 3);
}

.pastor-div p {
    margin-top: 15px;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    line-height: 1.8em;
    flex: 0.8;
    background-color: #EFEFF0;
    height: 60%;
    margin-left: 40px;
    padding: 0;  
}

.welcome-message h2 {
    margin-bottom: 10px;
    text-align: justify;
}

.welcome-message p {
    flex: 1;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    text-align: justify;
}

/*************************************** IDs  ******************************************/

#about {
    color: #F5BE55;
}

#logo2 {
    height: 75px;
}

/* Laptop styles (1024 and above) */
@media (min-width: 1024px) {
    .toggle {
        display: none;
        pointer-events: none;
    }

    .background {
        background-color: white;
        height: 450px;
        width: 100%;
        background-position: top;
    }
}

/* Tablet styles (601px to 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .hide {
        display: none;
    }

    .welcome-message-sec {
        display: flex;
        flex-direction: column;
    }

    .welcome-message {
        margin-top: 40px;
    }

    .pastor-div {
        width: 100%;
    }

    .welcome_section h1 {
        font-size: 1.4rem;
        width: 100%;
        color: #F5BE55;
        font-family: "Poppins", Helvetica, Arial, sans-serif;
    }

    .background {
        background-color: white;
        height: 450px;
        width: 100%;
        background-position: top;
    }

    .carousel-item p {
        font-size: 13px;
    }

    .carousel-item h1 {
        font-size: 32px;
    }

    .carousel-button {
        font-size: 3rem;
    }
}

/* Phone styles (up to 600px) */
@media only screen and (max-width: 600px) {
    .hide {
        display: none;
    }

    .sidebar {
        width: 100%;
    }

    .background {
        height: 450px;
        width: 100%;
    }

    .church-name h1 {
        font-size: 0.4rem;
    }

    .branch {
        font-size: 8.3px;
    }

    .welcome_section h1 {
        font-size: 1.4rem;
        width: 100%;
        color: #F5BE55;
        font-family: "Poppins", Helvetica, Arial, sans-serif;
    }

    .welcome-message-sec {
        display: flex;
        flex-direction: column;
    }

    .welcome-message h2 {
        margin-top: 70px;
    }

    .pastor-div {
        width: 100%;
    }

    .welcome-message {
        font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
        line-height: 1.8em;
        flex: 1;
        background-color: #EFEFF0;
        height: 60%;
        margin: 0;
        padding: 0;  
    }

    .church-name-container {
        position: absolute;
        width: 200px;
        font-family: "Montserrat";
        background-color: none;
        color: white;
        padding: 10px 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    .nav{
        padding: 0;
    }

    .logo{
        border-radius: 20px;
        position: absolute;
        top: 0;
        transition: opacity 1s ease-in-out;
    }

    #logo2, #logo1{
        height: 100%;
        width: 100%;
    }

    .logo-container{
        position: relative;
        width: 80px;
        height: 100%;
        margin-right: 15px;
    }

    .church-logo-name-container{
        position: relative;
        padding: 0;
    }

    .church-name-container{
        left: 90px;
        top: 10px;
    }

    .carousel {
        width: 100%;
        height: 50vh;
    }
}